@import "./vars";

.bg_footer {
    background: $primary-color-dark;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 70px 0;

    @media screen and (max-width: $tablet-800) {
        grid-template-columns: 1fr;
        gap: 50px;
        text-align: center;
    }
}

.footer_content {
    display: grid;
    gap: 20px;

    img {
        width: 200px;
        height: 50px;
    }
}

.footer_content_text {
    letter-spacing: 1px;
    line-height: 25px;
    color: white;
}

.footer_content_social {
    display: flex;
    gap: 15px;

    @media screen and (max-width: $tablet-800) {
        justify-content: center;
    }
}

.footer_contact_icon {

    svg {
        fill: white;
        width: 20px;
        height: 20px;
    }

    svg:hover {
        fill: $primary-color-light;
    }
}



.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: $tablet-800) {
        margin: auto;
    }
}


.footer_contact_text {
    font-size: 30px;
    color: white;
}


.footer_contact_icon {
    display: flex;
    gap: 10px;
    color: white;
}

.footer_2 {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    padding: 20px 0;
}