// Desktop
$desktop-1550: 1550px;
$desktop-1500: 1500px;
$desktop-1400: 1400px;
$desktop-1300: 1300px;
$desktop-1200: 1200px;
$desktop-1157: 1157px;
$desktop-1100: 1100px;
$desktop-1010: 1010px;
$desktop-1000: 1000px;

// Tablet
$tablet-900: 900px;
$tablet-880: 880px;
$tablet-850: 850px;
$tablet-800: 800px;
$tablet-700: 700px;

// Mobile
$mobile-600: 600px;
$mobile-505: 505px;
$mobile-500: 500px;

// Colors
$primary-color-dark: #14457b;
$primary-color-light: #2490eb;
$secundary-color-light: #d3e9fb;
$secundary-color-dark: #63a7efc9;
$secundary-color-light-transparent: #d3e9fba3;
$bg_sections: #F4F6F9;
$subtitle: #666666;
$color_degrade: #ffffff1a;